
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/6b60c916674365.562afb545cdab.jpg'); /* Cambia esto por la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center;
    background-attachment: fixed; /* Fija la imagen para que no se desplace */
    backdrop-filter: blur(1px); /* Efecto difuminado */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altura mínima para asegurar que el contenido no quede cortado */
    width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
    max-width: 100%; /* Evita que se contraiga */
}

.container {
    width: 95%; /* Puedes ajustar este valor para hacerlo más ancho */
    max-width: 1800px; /* Controla el ancho máximo */
    display: flex;
    justify-content: center;
}


form {
    background: rgba(117, 120, 172, 0.9); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra adaptable */
    max-width: 550px; /* Máximo ancho */
    
}

h2 {
    color: rgb(23, 34, 128);
}

h3 {
    color: #010d16;
}

label {
    display: block;
    margin: 10px 0;
    margin-bottom: 5px;
    color: rgb(42, 7, 199);
}

input, select, textarea {
    width: 55%;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: block;
    border: 1px solid #0919aa;
    border-radius: 4px;
}

.caracteristicas label {
    display: inline; /* Hace que cada casilla de verificación ocupe una línea */
    margin-bottom: 8px; /* Espacio entre las opciones */
    color: #cfd6eb;
}

input[type="checkbox"] {
    width: unset; /* Quita el ancho fijo de los checkbox */
    display: inline-block; /* Hace que los checkbox se muestren en línea */
    margin-right: 10px; /* Espacio entre la casilla y el texto */
}

 .recomienda label {
    display: inline; /* Hace que cada casilla de verificación ocupe una línea */
    margin-bottom: 8px; /* Espacio entre las opciones */
}

input[type="radio"] {
    width: unset; /* Quita el ancho fijo de los radio buttons */
    display: inline-block; /* Hace que los radio buttons se muestren en línea */
    margin-right: 10px; /* Espacio entre la casilla y el texto */
}



#calificacion, #color {
    width: 7%;
}

#fecha_compra, #fecha_nacimiento, #zodiaco, #calificacion_servicio, #frecuencia_compra, #color_favorito {
    width: 55%;
}

#hora_inicio, #hora_fin {
    width: 9%;
    display: inline-block;
    margin-left: 9px;
}



button {
    background-color: #70a7f0;
    color: rgb(21, 75, 175);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 25px;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.botones {
    display: flex;
    justify-content: space-between; /* Acomoda los botones con espacio entre ellos */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    max-width: 500px; /* Limita el ancho si es necesario */
    margin-top: 20px; /* Ajusta el margen superior si es necesario */
}

button:hover {
    background-color: #af8555;
}   

.error-message , #nameError, #emailError, #phoneError, #dateError, #timeError, #colorError, #calificacionError, #recomiendaError, #comentarioError {
    color: red;
    background-color: white; /* Fondo blanco */
    padding: 2px 5px; /* Espaciado interno */
    display: inline-block; /* Para que no se extienda */
}
